@font-face {
  font-family: "Electroharmonix";
  src: url("fonts/electroharmonix.otf");
  font-weight: normal;
  font-style: normal;
}

.sidebar .logo {
  font-family: "Electroharmonix";
}

.container {
  display: flex;
  border: 2px solid black;
  width: 1000px;
  height: 1000px;
}

.sidebar {
  position: relative;
  /* flex-grow: 1; */
  width: 333px;
  background-image: url(images/sakura-banner.jpg);
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 667px;
  /* flex-grow: 2; */
  background-color: white;
}

.logo {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100px;
  position: absolute;
  top: 20%;

  /* Font styles */
  font-size: 3rem;
  color: white;

  /* Flex styles */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.credits {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  text-align: center;
  width: 100%;
}

.credits a,
.credits a:visited {
  color: black;
}

/* Form widget resets */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  width: 150px;
}

/* Form styles */
form {
  width: 100%;
  height: 100%;
}

.ad-text {
  margin: 20% 0 13% 14px;
}

fieldset {
  position: relative;
  border-style: none;
  margin: 0;
}

form legend {
  font-size: 20px;
}

.account-section {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
}

/* .logo img {
  width: 90px;
  height: auto;
} */
