@font-face {
  font-family: "Electroharmonix";
  src: url("fonts/electroharmonix.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.sidebar .logo {
  font-family: "Electroharmonix";
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  border: 2px solid black;
  width: 1000px;
  height: 1000px;
  background-color: #ecc1b7;
}

.sidebar {
  position: relative;
  /* flex-grow: 1; */
  width: 33%;
  background-image: url(images/sakura-banner.jpg);
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 67%;
  /* flex-grow: 2; */
  /* margin-left: 14px; */
  font-family: "Roboto", sans-serif;
}

.logo {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100px;
  position: absolute;
  top: 20%;

  /* Font styles */
  font-size: 3rem;
  color: white;

  /* Flex styles */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.credits {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  text-align: center;
  width: 100%;
}

.credits a,
.credits a:visited {
  color: black;
}

/* Form widget resets */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

button {
  appearance: none;
  width: 150px;
}

/* Form styles */
form {
  width: 100%;
  height: 100%;
}

.ad-text {
  /* margin: 20% 0 13% 14px; */
  height: 33%;
  display: flex;
  background-color: #ecc1b7;
}

.ad-text p {
  align-self: flex-end;

  font-size: 1.5em;
}

.input-block {
  background-color: #ede0dd;
}

fieldset {
  display: flex;
  gap: 50px;
  position: relative;
  border-style: none;
  padding: 10% 0 10% 0;
  /* background-color: red; */
}

fieldset input {
  width: 150px;
  border-style: none;
  border-radius: 10px;
}

fieldset input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Row styles */
.column div {
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.column.one label {
  text-align: right;
  padding-right: 20px;
}

.column.two label {
  text-align: right;
  padding-right: 20px;
}

/* fieldset input {
  width: 500px;
} */

form legend {
  font-size: 1.5em;
  position: relative;
  top: 50px;
}

.account-section {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  border-radius: 10px;
  border-color: white;
  padding: 10px 5px;
  background-color: #e9b9a5;
}

.ad-text,
fieldset,
.account-section {
  padding-left: 14px;
}
/* .logo img {
  width: 90px;
  height: auto;
} */
